[[extend 'layout.html']]

<h1 class="title">Add Product</h1>

<section class="section">
  [[=form]]
</section>

<section>
  <a class="section button is-primary" href="[[=URL('index')]]">Back</a>
</section>
