[[extend 'layout.html']]

[[block page_head]]
<link rel="stylesheet" href="[[=URL('static/components/vueform/vueform.css')]]">
[[end]]

<div class="section">
  <div id="vue">
    [[=form]]
  </div>
</div>


[[block page_scripts]]
<script src="components/vueform/luxon.js"></script>
<script src="[[=URL('static/components/vueform/vueform.js')]]"></script>
<script>
  var app = new Vue({
      el: "#vue",
      data: {},
  });
</script>
[[end]]
