[[extend 'layout.html']]

[[block page_head]]
  <!-- This goes into the page head -->

[[end]]

<section>
  <h1 class="title">Examples</h1>
  <ul>
    <li><a href="[[=URL('add_form')]]">Form to add products</a></li>
  </ul>
</section>

[[block page_scripts]]
  <!-- Here we load scripts for the page. -->

[[end]]