[[extend 'layout.html']]

[[block page_head]]
  <!-- This goes into the page head -->

[[end]]

<h1 class="title">Classes with content for you</h1>


<h1 class="title">Classes you created</h1>

<div class="create_button">
  <a class="button" href="[[=URL('create')]]">Create a class</a>
</div>

[[block page_scripts]]
  <!-- Here we load scripts for the page. -->

  <!-- Convenience library for working on objects;
        see https://sugarjs.com/quickstart/ -->
  <script src="js/sugar.min.js"></script>

  <!-- The Vue framework; see https://vuejs.org/ -->
  <script src="js/vue.min.js"></script>

  <!-- Axios library for GET/POST calls with promises;
        see https://github.com/axios/axios -->
  <script src="js/axios.min.js"></script>

  <!-- Defines the user email as identifier. -->
  <script>var USER_EMAIL = "[[=user.get("email", "")]]";</script>

  <!-- Loads the main js for the page. -->
  <script src="js/index.js"></script>
[[end]]